.eating-together-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
  overflow: hidden;
  background-color: #ced4da;
}

.eating-row {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eating-content-side {
  height: 100vh;
  width: 60%;
  overflow-y: scroll;
}

.video-eating {
  width: 100%;
  display: block;
  object-fit: cover;
}

.eating-photos {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.eating-text-side {
  height: 100vh;
  width: 40%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.eating-text-side h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #366090;
}

.eating-text-side p {
  margin: 20px;
  text-align: center;
  font-size: 1.1rem;
}

.eating-icon {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 30px;
  align-self: flex-start;
}

/*/ ////////////////body navigation/////////////*/
.body-navigation {
  display: flex;
  width: 100%;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.btn-body-nav p {
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

.not-selected {
  color: #80b5c0;
}

.btn-body-nav p a {
  text-decoration: none;
  color: inherit;
}

.selected-section {
  border-bottom: 1px solid #366090;
  color: #366090;
}
