/*/ ///////////////////////////////////////////////////////*/
.academy-container {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  overflow: hidden;
  background-color: #f2f2f2;
}
.academy-study-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.academy-study-video-container {
  width: 60%;
  height: 70vh;
}

.academy-study-text {
  height: 75vh;
  width: 40%;
  padding: 20px;
}

.academy-study-text h1 {
  text-align: center;
  color: #366090;
}

.academy-study-text p {
  margin: 40px 20px;
  font-size: 1.1rem;
  padding: 10px 15px;
  text-align: center;
}

.academy-study-text p span {
  color: black;
}



/*/ ////////////////body navigation/////////////*/
.body-navigation {
  display: flex;
  width: 100%;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.btn-body-nav p {
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

.not-selected {
  color: #80b5c0;
}

.btn-body-nav p a {
  text-decoration: none;
  color: inherit;
}

.selected-section {
  border-bottom: 1px solid #366090;
  color: #366090;
}
